@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:Outfit;
}
body{
  min-height:100vh;
  background-color:white;

}
a{
  text-decoration:none;
  height:1px;
  background-color: rgb(249, 248, 248);
}
hr{
  border:none;
  height: 1px;
  background-color: white;
}
.app-content{
  display: flex;
}